body {
background-color: #3498db !important;
line-height: 1.6;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
height:100%;
font-weight: 400;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
a {
	color: #fff !important;
	text-decoration: none !important;
	
}
ul li {
	list-style: none !important;
}
h4 {
	color: #fff !important;
}
.btn, .btn:hover {
	margin-top: 30px;
    background-color: #8BC34A;
    color: #fff !important;
}
.btn:focus {
	outline: none !important;
}
.quizbg {
	background-color: #2980b9;
	margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.resultbg {
	background-color: #2980b9;
	margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.resultbg p {
	padding: 5px;
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    border-radius: 5px;
}
.userbg {
	background-color: #2980b9;
	margin-top: 5%;
    padding: 100px;
    border-radius: 10px;
}
.correctAns {
	color: green;
	font-weight: bold;
}
.wrongAns {
	color: red;
	font-weight: bold;
}
.correctanswer {
	color: green;
	font-weight: bold;
}
.ansopcity {
	display: none;
}
.answercorrect {
	display: block !important;
}
canvas {
	margin-top: 20%;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    background-color: #ccc;
}
input {
	border-radius: 5px;
    border: none;
}